html *
{
   font-family: 'Roboto', sans-serif;
}
.vertical-menu{
    position: fixed;
    width: 12.5%;
    left: -10px;
    background-color: rgba(51, 207, 207, 0.329);
    padding: 0px;
    margin: 0px 0;
    height: 100%;
    z-index: 99;
}

.vertical-menu .column {
    position: relative;
    text-align: center;
    left: -5%; /* Position them outside of the screen */
    top: -10px;
    transition: 0.3s; /* Add transition on hover */
    padding: 8%;
    height: 6.7%;
    width: 60%; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    margin: 0px 0;
    
    
}

.link {
   color: white !important; 
   text-decoration: none !important; 
}

.turing_img {
    position: relative;
    width: 100%;
    left: 0px;
    top: -10px;
    background-color: rgb(51, 207, 207);
    color: white;
    padding: 0px 0px;
    margin: 0px 0;
    border: none;
    opacity: 1;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    
}

.vertical-menu .column:hover { 
    width: 89%;
    background-color: rgb(0, 204, 204);
}

.vertical-menu .column .link .column-detail {
    display: none;
}
.vertical-menu .column:hover .link .column-detail {
    display: flow-root;
    
}


/* The about link: 20px from the top with a green background */
.vertical-menu .column{
    background-color: rgb(51, 207, 207);
}

.content {
    margin-left: 12.5%;
    padding: 0px 10px;
}

.tile {
    text-align: center;
}
