.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    top: 25%;

  }
  
  /* Create four equal tile_columns that sits next to each other */
  .row .tile_column {
    flex: 25%;
    max-width: 25%;
  }
  
 .row .tile_column .tile_content {
    vertical-align: middle;
    text-align: center;
    width: 89.5%;
    margin: 1%;
    padding: 5%;
    background-color: rgb(0, 243, 243);
  }
  
  
  