
{% extends "sidebar.html" %}

{% block content %}
  <div class="row">
      <div class="tile_column">
        <div class="tile_content">ola</div>
        <div class="tile_content">ola</div>
      </div>
      <div class="tile_column">
        <div class="tile_content">ola</div>
      </div>
      <div class="tile_column">
        <div class="tile_content">ola</div>
      </div>
      <div class="tile_column">
        <div class="tile_content">ola</div>
      </div>
    </div>
  {% endblock %}
  