
{% extends "sidebar.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/draggable.css') }}">

<div id="projetos">
  <div id="projetosheader">Projetos</div>
</div>

<div id="forum">
  <div id="forumheader">Fórum</div>
</div>

<div id="code_preview">
  <div id="code_previewheader">Code Preview</div>
</div>

<div id="tarefas">
  <div id="tarefasheader">Tarefas</div>
</div>

<script src="{{ url_for('static', filename='js/draggable.js') }}"></script>
{% endblock %}
