{% extends "base.html" %} {% block styles %} {{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sidebar.css')}}"> {% endblock %} {% block content %}
<div class="nav-side-menu">
  <img src="{{ url_for('static', filename='img/turing.jpg')}}" style="width:100%"class="brand"></img>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a href="/">
          <i class="fas fa-home fa-lg"></i> Home
        </a>
      </li>

      <li>
        <a href="/feadback">
          <i class="fas fa-comments fa-lg"></i> FeadBack
        </a>
      </li>

      <li>
        <a href="/todo">
          <i class="fas fa-tasks fa-lg"></i> To-Do
        </a>
      </li>

      <li>
        <a href="/projects">
          <i class="fas fa-project-diagram fa-lg"></i> Projects
        </a>
      </li>

      <li>
        <a href="/code">
          <i class="fas fa-code fa-lg"></i> Code
        </a>
      </li>

      <li>
        <a href="/forum">
          <i class="fas fa-users fa-lg"></i> Forum
        </a>
      </li>

      <li>
        <a href="/profile">
          <i class="fas fa-user fa-lg"></i> Profile
        </a>
      </li>


    </ul>
  </div>
</div>

<div style="width:80%; left:15%; position: absolute;">
  {% block sidecontent %}
  
  {% endblock %}
</div>
{% endblock %}

