{% extends "sidebar.html" %} 

{% from 'components/modal_ntask.html' import modalNewTask %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
{{super()}}
{% endblock %}

{% block sidecontent %}
{{super()}}

<h1>Tasks for {{data.name}}</h1>
<div class="list-group" style="width: 50%;">
  {% for task in data.tasks %}
    <a href="/tasks/task/{{task.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{task.name}} </h5>
        <small>{{task.end_time}}</small>
      </div>
        <p class="mb-1">{{task.description}}</p>
        {% for user in task.users %}
          <small href="#" class="badge badge-primary">{{user.username}}</small>
        {% endfor %}
      <div/>
      {% for subtask in task.tasks %}
        <button class="btn btn-secondary" type="submit">{{subtask.name}}</button>
      {% endfor %}
    </a>
  {% endfor %}
  {% if data.__class__.__name__ in ['Task', 'Project']  %}
  <div>
    <br/>
    <center>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#taskModal">Create New Task</button>
    </center>
  </div>
  {{modalNewTask("taskModal",data.__class__.__name__,data.id)}}
  {% endif %}
</div>

{% endblock %}