{% macro modalNewProject(modelId, formId) %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

<div class="modal fade" id="{{modelId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="{{formId}}" method="post" role="form">
          <div class="form-group">
            <label for="projectName"  class="col-form-label">Project Name:</label>
            <input type="text" class="form-control" id="projectName">
          </div>
          <div class="form-group">
            <label for="projectDescription" class="col-form-label">Description:</label>
            <textarea class="form-control" id="projectDescription"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button onclick="form_submit()" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
  function form_submit(){
    var projectName = $('#projectName').val();
    var projectDescription = $('#projectDescription').val();
    $.ajax({
      type:'POST',
      url:'#',
      data:'projectName='+projectName+'&projectDescription='+projectDescription,
      success:function(){
        location.reload();
      }
    })
  }
</script>
{% endmacro %}

  